.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 10px;
  @media screen and (max-width: 1024px) {
    max-width: 768px;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    max-width: 425px;
    margin: 0 auto;
  }
  @media screen and (max-width: 425px) {
    max-width: none;
    margin: 0 auto;
  }
}
