<footer class="footer">
   <div class="container">
      <div class="footer__row d-g gtc-2 ai-c">
         <div class="footer__column">
            <img src="./../assets/images/intro1.png" alt="gym molly pro">
         </div>
         <div class="footer__column">
            <h2>
               Gym molly pro is the next
               evolution in preworkout
            </h2>
            <button class="button">
               Order
            </button>
         </div>
      </div>
   </div>
</footer>